.addTasks {
    height: 75px;
    width: 500px;
    background-color: white;
    color: gray;
    border-bottom: 1px solid gray;
    margin: auto;
}

.addItem {
    display: inline-block;
    padding: 5px;
}
